/* BALISES */
header img {
max-width: fit-content;
max-height: 200px;
align-self: center;
}
aside {
background: linear-gradient(white, rgb(41, 41, 41), rgb(102, 102, 102));
}
p {
    font-size: 1.1em;
}
footer {
color: rgb(102, 102, 102);
background-color: black;
text-transform: uppercase;
font-size: 0.5em;
text-align: center;
}
section {
    margin:0;
}
/* CLASSES */
.bloc1 {
background-color: rgb(110, 110, 110);
}
.bloc2 {
background-color: rgb(163, 163, 163);
}
.bloc3 {
background-color: rgb(49, 49, 49);
}
.bloc1:hover {
background-color: rgb(121, 76, 76);
}
.bloc2:hover {
background-color: rgb(170, 53, 53);
}
.bloc3:hover {
background-color: rgb(68, 3, 3);
}